<div class="header d-flex flex-column flex-md-row justify-content-md-between">
    <a href="{{ site.base }}/" class="">
        <img src="{{ site.base }}/img/logo.png" srcset="{{ site.base }}/img/logo@2x.png 2x" alt="Awesome" id="logo">
    </a>
    <ul class="nav nav-pills justify-content-center">

        {% assign shorturl = page.url | replace:'.html','' | replace:'index','' %}
        {% for item in site.navigation %}

        {% assign itemshorturl = item.link | replace:'.html','' %}

        {% assign maybe-active = '' %}
        {% if item.title == 'Research' and page.layout == 'project' %}
        {% assign maybe-active = 'active' %}
        {% endif %}
        {% if itemshorturl == shorturl or is-research %}
        {% assign maybe-active = 'active' %}
        {% endif %}

        <li class="nav-item">
            <a class="nav-link {{ maybe-active }}" href="{{ site.base }}{{ item.link }}">
                {{ item.title }}
            </a>
        </li>

        {% endfor %}

    </ul>
</div>