<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include imports_css.html %}
        <link rel="stylesheet" href="{{ site.base }}/css/group.css">
    </head>
    <body>
        <div class="container">

            {% include header.html %}

            {% if page.image %}
                <img src="{{ page.image }}"
                     alt="{{ page.title }}"
                     style="max-width: 400px"
                     class="img-fluid mx-auto d-block mb-4"/>
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <p>
                    <a href="http://www.inf.puc-rio.br/">Informatics Department</a>
                    at the
                    <a href="https://www.puc-rio.br/">PUC-Rio</a>
                </p>
            </div>

        </div> <!-- /container -->

        {% include imports_js.html %}
    </body>
</html>
