<!DOCTYPE html>
<html class="h-100">

<head>
    <title>{{ site.name }}: {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include imports_css.html %}
</head>

<body class="h-100">
    <div class="container d-flex flex-column h-100">

        {% include header.html %}

        <div class="flex-shrink-0">
            {% if page.image %}
            <img src="{{ page.image }}" alt="{{ page.title }}" style="max-width: 400px"
                class="img-fluid mx-auto d-block mb-4" />
            {% endif %}

            {% if page.notitle != true %}
                <h1 class="py-2">{{ page.title }}</h1>
            {% endif %}

            <div class="flex-shrink-0">
                {{ content }}
            </div>

        </div> <!-- /container -->

        {% include footer.html %}

        {% include imports_js.html %}
    </div>
</body>

</html>